@using SFA.DAS.AODP.Models.Forms
@model EditQuestionViewModel

<a class="govuk-back-link" asp-action="Edit" asp-controller="Pages" asp-route-formVersionId="@Model.FormVersionId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@Model.PageId">
    Back to Page
</a>

<h1 class="govuk-heading-l">Edit Question</h1>

<form asp-controller="Questions" asp-action="Edit" method="post">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PageId)
    @Html.HiddenFor(m => m.SectionId)
    @Html.HiddenFor(m => m.FormVersionId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Type)

    @Html.AntiForgeryToken()

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Title" input-class="govuk-input--width-50" inputmode="text" value="@Model.Title">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Title</govuk-input-label>
            @{
                await Html.RenderPartialAsync("Validation/_TextInputValidationPartial", nameof(Model.Title));
            }
        </govuk-input>
    </div>

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Type" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" disabled=true spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Question type</govuk-input-label>
        </govuk-input>
    </div>

    <div class="govuk-form-group">
        <govuk-radios asp-for="@Model.Required">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s">
                    Should this question be mandatory or optional?
                </govuk-radios-fieldset-legend>

                <govuk-radios-hint>
                    Select one option.
                </govuk-radios-hint>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.Required))

                <govuk-radios-item value="true" checked="@Model.Required">Mandatory</govuk-radios-item>
                <govuk-radios-item value="false" checked="@Model.Required == false">
                    Optional
                    <govuk-radios-hint class="govuk-hint govuk-radios__hint" id="pages-question-input-is-optional-true-hint">
                        We’ll add ‘(optional)’ to the end of the question text.
                    </govuk-radios-hint>
                </govuk-radios-item>
            </govuk-radios-fieldset>
        </govuk-radios>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Hint" input-class="govuk-input--width-50" inputmode="text">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Hint (Optional)</govuk-input-label>

            <govuk-input-hint>
                Keep hint text to a single short sentence, without any full stops.
            </govuk-input-hint>

        </govuk-input>
    </div>
    @if (Model.Type == QuestionType.Text)
    {
        await Html.RenderPartialAsync("FormBuilder/QuestionEdit/_TextInput", Model.TextInput);

    }
    else if (Model.Type == QuestionType.Radio)
    {
        await Html.RenderPartialAsync("FormBuilder/QuestionEdit/_RadioInput", Model.RadioButton);

    }
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button govuk-!-margin-bottom-3" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Save question</button>
        <a class="govuk-button govuk-!-margin-bottom-3 govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
            asp-action="Create" 
            asp-controller="Questions" 
            asp-route-formVersionId="@Model.FormVersionId"
            asp-route-sectionId="@Model.SectionId"
            asp-route-pageId="@Model.PageId">
            Save and add new question
        </a>
        <button type="submit" class="govuk-button govuk-!-margin-bottom-3 govuk-button--secondary" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="" 
            asp-action="Edit" 
            asp-controller="Pages" 
            asp-route-formVersionId="@Model.FormVersionId"
            asp-route-sectionId="@Model.SectionId"
            asp-route-pageId="@Model.PageId">
            Save question and exit
        </button>
    </div>

    <ul class="govuk-list govuk-list--spaced">
        <li>
            <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
                    asp-action="Delete"
                    asp-controller="Questions"
                    asp-route-formVersionId="@Model.FormVersionId"
                    asp-route-sectionId="@Model.SectionId"
                    asp-route-pageId="@Model.PageId"
                    asp-route-questionId="@Model.Id">
                Delete question
            </button>
        </li>

        <li>
            <a class="govuk-link" asp-action="Edit" asp-controller="Pages" asp-route-formVersionId="@Model.FormVersionId" asp-route-pageId="@Model.PageId" asp-route-sectionId="@Model.SectionId">
                Back to your questions
            </a>
        </li>
    </ul>
</form>
