@model Section

<h1 class="govuk-heading-l">Create Section</h1>

<form asp-action="Create" method="post">
    <input type="hidden" name="FormId" value="@Model.FormId" />
    <div>
        <govuk-input name="Title" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Title">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Title</govuk-input-label>
        </govuk-input>
    </div>
    <div>
        <govuk-input name="Description" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Description">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Description</govuk-input-label>
        </govuk-input>
    </div>
    <div>
        <govuk-input name="Order" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Order">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Order</govuk-input-label>
        </govuk-input>
    </div>
    <div>
        <govuk-select name="NextSectionId">
            <govuk-select-label>Next Section</govuk-select-label>
            @foreach (var item in (List<Section>)ViewData["Sections"])
            {
                <govuk-select-item value="@item.Id">@item.Title</govuk-select-item>
            }
        </govuk-select>
    </div>

    <govuk-button type="submit">Save</govuk-button>
    <a class="govuk-button govuk-button--secondary" href="@Url.Action("Edit", "Form", new { id = Model.FormId })">Cancel</a>
</form>
