@using SFA.DAS.AODP.Web.Models.Application.ApplicationMessages;
@model ApplicationMessagesViewModel

@if (Model.Messages != null && Model.Messages.Any())
{
    <div class="app-timeline">
        @foreach (var message in Model.Messages.OrderByDescending(m => m.SentAt))
        {
            <div class="app-timeline__item">

                <div class="app-timeline__header">
                    <h2 class="app-timeline__title">@message.Status</h2>
                    <p class="app-timeline__byline">by @message.SentByName</p>
                </div>

                <p class="app-timeline__date">
                    <time datetime="@message.SentAt.ToString("app-MM-ddTHH:mm:ss.fffZ")">
                        @message.SentAt.ToString("dd MMMM app 'at' h:mmtt").ToLower()
                    </time>
                </p>

                <div class="app-timeline__description">
                    <p>@message.Text</p>

                    @if (message.Type == "Action")
                    {
                        <a class="govuk-button govuk-!-margin-bottom-0" href="#">Continue</a>
                    }

                    @if (message.Type == "Details")
                    {
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Application details</span>
                            </summary>
                            <div class="govuk-details__text">
                                Additional details about the application. <a class="govuk-link" href="#">Click here for more</a>
                            </div>
                        </details>
                    }

                </div>

            </div>
        }
    </div>
}
else
{
    <p>No application updates yet.</p>
}

<style>
    .app-timeline {
        position: relative;
        margin-bottom: 20px; 
        overflow: hidden;
    }

        .app-timeline::before {
            content: "";
            position: absolute;
            top: 10px; 
            left: 0;
            width: 5px;
            height: 100%;
            background-color: #005ea5;
        }

    .app-timeline--full {
        margin-bottom: 0;
    }

        .app-timeline--full::before {
            height: calc(100% - 75px);
        }

    .app-timeline__item {
        position: relative;
        padding-bottom: 30px;
        padding-left: 20px;
    }

        .app-timeline__item::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 15px;
            height: 5px;
            background-color: #005ea5;
        }

    .app-timeline__title {
        font-size: 19px;
        font-weight: bold;
        display: inline;
    }

    .app-timeline__byline {
        font-size: 19px;
        display: inline;
        margin: 0;
        color: #6f777b;
    }

    .app-timeline__date {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .app-timeline__description {
        font-size: 19px;
        margin-top: 20px;
    }

</style>