@using SFA.DAS.AODP.Web.Models.FormBuilder.Page
@model DeletePageViewModel

<a class="govuk-back-link" asp-action="Edit" asp-controller="Sections" asp-route-formVersionId="@Model.FormVersionId" asp-route-sectionId="@Model.SectionId">
    Back to Section
</a>

<h1 class="govuk-heading-l">Delete Page?</h1>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m => m.FormVersionId)
    @Html.HiddenFor(m => m.SectionId)
    @Html.HiddenFor(m => m.PageId)

    <govuk-warning-text icon-fallback-text="Warning">
        Are you sure you want to delete the page "@Model.Title"?
    </govuk-warning-text>

    <p class="govuk-body">
        @Model.Title.ToString()
    </p>

    <div class="govuk-button-group">

        <govuk-button class="govuk-button--warning" type="submit"
            asp-action="DeleteConfirmed" asp-controller="Pages"
            asp-route-formVersionId="@Model.FormVersionId"
            asp-route-sectionId="@Model.SectionId"
            asp-route-pageId="@Model.PageId">
            Delete
        </govuk-button>

        <a class="govuk-button govuk-button--secondary"
           asp-action="Edit"
           asp-controller="Sections"
           asp-route-formVersionId="@Model.FormVersionId"
           asp-route-sectionId="@Model.SectionId">
            Cancel
        </a>
    </div>
</form>