@using SFA.DAS.AODP.Web.Models.Page
@model EditPageViewModel

<h1 class="govuk-heading-l">Edit Page</h1>

<form asp-action="Edit" method="post">

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Title" input-class="govuk-input--width-50" inputmode="text" pattern="[0-9]*" spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div class="govuk-form-group">

        <govuk-textarea asp-for="@Model.Description">
            <govuk-textarea-label is-page-heading="false" class="govuk-label--s">Description</govuk-textarea-label>
        </govuk-textarea>
    </div>

    <div class="govuk-form-group">
        <govuk-input name="Order" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Order" disabled="true">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Order</govuk-input-label>
        </govuk-input>
    </div>


    <button class="govuk-button" type="submit">Save</button>
    <a class="govuk-button govuk-button--secondary"
       asp-action="Edit"
       asp-controller="Sections"
       asp-route-formVersionId="@Model.FormVersionId"
       asp-route-sectionId="@Model.SectionId">
        Cancel
    </a>
    </a>
</form>

<a class="govuk-button" asp-action="Create" asp-controller="Questions" asp-route-pageId="@Model.PageId" asp-route-sectionId="@Model.SectionId" asp-route-formVersionId="@Model.FormVersionId">Create New Question</a>


<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Options</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var item in Model.Questions)
        {
            <tr class="govuk-table__row">
                <td>@item.Title</td>
                <td>
                    <a class="govuk-button"
                       asp-action="Edit"
                       asp-controller="Questions"
                       asp-route-pageId="@Model.PageId"
                       asp-route-questionId="@item.Id"
                       asp-route-sectionId="@Model.SectionId"
                       asp-route-formVersionId="@Model.FormVersionId">
                        Edit
                    </a>
                    &nbsp;
                    @*                     <a class="govuk-button govuk-button--warning" asp-action="Delete" asp-controller="Sections" asp-route-sectionId="@item.Id" asp-route-forms="forms" asp asp-route-formVersionId="@Model.FormVersionId">Delete</a>
 *@                </td>
            </tr>
        }
    </tbody>
</table>