@model EditPageViewModel

<a class="govuk-back-link" asp-action="Edit" asp-controller="Sections" asp-route-formVersionId="@Model.FormVersionId" asp-route-sectionId="@Model.SectionId">
    Back to Section
</a>

<h1 class="govuk-heading-l">Edit Page</h1>

<form asp-action="Edit" method="post">

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Title" input-class="govuk-input--width-50" inputmode="text" pattern="[0-9]*" spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div class="govuk-form-group">

        <govuk-textarea asp-for="@Model.Description">
            <govuk-textarea-label is-page-heading="false" class="govuk-label--s">Description</govuk-textarea-label>
        </govuk-textarea>
    </div>

    <div class="govuk-form-group">
        <govuk-input name="Order" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Order" disabled="true">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Order</govuk-input-label>
        </govuk-input>
    </div>


    <button class="govuk-button" type="submit">Save</button>
    <a class="govuk-button govuk-button--secondary"
       asp-action="Edit"
       asp-controller="Sections"
       asp-route-formVersionId="@Model.FormVersionId"
       asp-route-sectionId="@Model.SectionId">
        Cancel
    </a>
    </a>
</form>

<a class="govuk-button" asp-action="Create" asp-controller="Questions" asp-route-pageId="@Model.PageId" asp-route-sectionId="@Model.SectionId" asp-route-formVersionId="@Model.FormVersionId">Create New Question</a>


<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Options</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var (item, i) in Model.Questions.Select((v, i) => (v, i)))
        {
            <tr class="govuk-table__row">
                <td>@item.Title</td>
                <td>
                    <a class="govuk-button"
                       asp-action="Edit"
                       asp-controller="Questions"
                       asp-route-pageId="@Model.PageId"
                       asp-route-questionId="@item.Id"
                       asp-route-sectionId="@Model.SectionId"
                       asp-route-formVersionId="@Model.FormVersionId">
                        Edit
                    </a>
                    @if (i != 0)
                    {
                        <button class="govuk-button govuk-button--secondary" type="submit" value="@item.Id" name="AdditionalActions[MoveUp]" data-module="govuk-button" data-prevent-double-click="true">
                            Move Up
                        </button>
                    }
                    @if (i != Model.Questions.Count() - 1)
                    {
                        <button class="govuk-button govuk-button--secondary" type="submit" value="@item.Id" name="AdditionalActions[MoveDown]">
                            Move Down
                        </button>
                    }
                    <a class="govuk-button govuk-button--warning" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
                       asp-action="DeleteConfirmed"
                       asp-controller="Questions"
                       asp-route-formVersionId="@Model.FormVersionId"
                       asp-route-sectionId="@Model.SectionId"
                       asp-route-pageId="@Model.PageId"
                       asp-route-questionId="@item.Id">
                        Delete
                    </a>
            </td>
            </tr>
        }
    </tbody>
</table>