@using SFA.DAS.AODP.Web.Helpers.ListHelper
@model EditPageViewModel

<a class="govuk-back-link" asp-action="Edit" asp-controller="Sections" asp-route-formVersionId="@Model.FormVersionId" asp-route-sectionId="@Model.SectionId">
    Back to Section
</a>

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-l">Edit Page</h1>

<form asp-action="Edit" method="post">

    <div class="govuk-form-group">
        <govuk-input disabled="@(!Model.Editable)" asp-for="@Model.Title" input-class="govuk-input--width-50" inputmode="text" pattern="[0-9]*" spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>

    @if (Model.Editable)
    {
        <button class="govuk-button" type="submit">Save</button>
        <a class="govuk-button govuk-button--secondary"
           asp-action="Edit"
           asp-controller="Sections"
           asp-route-formVersionId="@Model.FormVersionId"
           asp-route-sectionId="@Model.SectionId">
            Cancel
        </a>
    }

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    @if (Model.Editable)
    {
        <a class="govuk-button" asp-action="Create" asp-controller="Questions" asp-route-pageId="@Model.PageId" asp-route-sectionId="@Model.SectionId" asp-route-formVersionId="@Model.FormVersionId">Create New Question</a>
    }
    <a class="govuk-button" asp-action="Preview" asp-controller="Pages" asp-route-pageId="@Model.PageId" asp-route-sectionId="@Model.SectionId" asp-route-formVersionId="@Model.FormVersionId">Preview page</a>


    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Options</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var (item, i) in Model.Questions.OrderBy(o => o.Order).Select((v, i) => (v, i)))
            {
                <tr class="govuk-table__row">
                    <td>@item.Title</td>
                    <td>
                        <a class="govuk-button"
                            asp-action="Edit"
                            asp-controller="Questions"
                            asp-route-pageId="@Model.PageId"
                            asp-route-questionId="@item.Id"
                            asp-route-sectionId="@Model.SectionId"
                            asp-route-formVersionId="@Model.FormVersionId">
                            @(Model.Editable ? "Edit" : "View")

                        </a>
                        @if (i != 0 && Model.Editable)
                        {
                            <button @(OrderButtonHelper.ShouldAutoFocus(TempData, OrderButtonHelper.OrderDirection.Up, item.Id, i, Model.Questions.Count) ? "autofocus" : "")
                                class="govuk-button govuk-button--secondary" type="submit" value="@item.Id" name="AdditionalFormActions[MoveUp]" data-module="govuk-button" data-prevent-double-click="true">
                                Move Up
                            </button>
                        }
                        @if (i != Model.Questions.Count() - 1 && Model.Editable)
                        {
                            <button @(OrderButtonHelper.ShouldAutoFocus(TempData, OrderButtonHelper.OrderDirection.Down, item.Id, i, Model.Questions.Count) ? "autofocus" : "")
                                class="govuk-button govuk-button--secondary" type="submit" value="@item.Id" name="AdditionalFormActions[MoveDown]">
                                Move Down
                            </button>
                        }
                        &nbsp;
                        @if (Model.Editable)
                        {
                            <a class="govuk-button govuk-button--warning" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
                                asp-action="DeleteConfirmed"
                                asp-controller="Questions"
                                asp-route-formVersionId="@Model.FormVersionId"
                                asp-route-sectionId="@Model.SectionId"
                                asp-route-pageId="@Model.PageId"
                                asp-route-questionId="@item.Id">
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>