@using SFA.DAS.AODP.Web.Models.Application
@model DeleteApplicationViewModel

@{
    ViewData["Title"] = "Delete application";
}

<a class="govuk-back-link" asp-action="ViewApplication" asp-controller="Applications"
   asp-route-organisationId="@Model.OrganisationId"
   asp-route-applicationId="@Model.ApplicationId"
   asp-route-formVersionId="@Model.FormVersionId">
    Back to application
</a>

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-l">Delete application?</h1>

<form asp-action="Delete" asp-controller="Applications" method="post">
    @Html.HiddenFor(m => m.FormVersionId)
    @Html.HiddenFor(m => m.ApplicationId)
    @Html.HiddenFor(m => m.OrganisationId)

    <govuk-warning-text icon-fallback-text="Warning">
        Are you sure you want to delete the application? The application cannot be recovered.
    </govuk-warning-text>

    <p class="govuk-body">
       Name: @Model.ApplicationName
       <br/>
       Reference: @Model.ApplicationReference.ToString().PadLeft(6, '0')
    </p>

    <div class="govuk-button-group">

        <govuk-button class="govuk-button--warning" type="submit">
            Delete
        </govuk-button>

        <a class="govuk-button govuk-button--secondary" asp-action="ViewApplication" asp-controller="Applications"
           asp-route-organisationId="@Model.OrganisationId"
           asp-route-applicationId="@Model.ApplicationId"
           asp-route-formVersionId="@Model.FormVersionId">
            Cancel
        </a>

    </div>
</form>
