@using SFA.DAS.AODP.Models.Application
@using SFA.DAS.AODP.Web.Models.Application
@model ApplicationFormViewModel

@{
    ViewData["Title"] = Model.ApplicationName;
}

@if (Model.NewMessage)
{
    <div class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                The are new messages for this application.
            </p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-back-link asp-area="Apply" asp-controller="Applications" asp-action="Index" asp-route-organisationId="@Model.OrganisationId">Back to view all applications</govuk-back-link>

        <h1 class="govuk-heading-l">Application overview</h1>

        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Qualification Title
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.ApplicationName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Owner
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.Owner
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Qualification Number
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.QualificationNumber
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Reference
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.Reference.PadLeft(6, '0')
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Status
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @if (Model.Status == ApplicationStatus.Approved)
                    {
                        <span>Approved - for one or more offers</span>
                    }
                    else
                    {
                        @ApplicationStatusDisplay.Dictionary[Model.Status]
                    }
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>

        </govuk-summary-list>

        @if (!Model.IsSubmitted)
        {
            <a class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
               asp-action="Edit"
               asp-controller="Applications"
               asp-route-applicationId="@Model.ApplicationId"
               asp-route-organisationId="@Model.OrganisationId">
                Edit application details
            </a>

            <a class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
               asp-action="ApplicationFormPreview"
               asp-controller="Applications"
               asp-route-formVersionId="@Model.FormVersionId"
               asp-route-applicationId="@Model.ApplicationId"
               asp-route-organisationId="@Model.OrganisationId">
                Form Preview
            </a>
        }

        <h2 class="govuk-heading-m">Application progress</h2>

        <ul class="govuk-task-list">
            @foreach (var sectionInfo in Model.Sections.OrderBy(o => o.Order))
            {
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">


                        <a class="govuk-link govuk-task-list__link"
                           asp-action="ViewApplicationSection"
                           asp-route-sectionId="@sectionInfo.Id"
                           asp-controller="Applications"
                           asp-action="ViewApplication"
                           asp-route-formVersionId="@Model.FormVersionId"
                           asp-route-organisationId="@Model.OrganisationId"
                           asp-route-applicationId="@Model.ApplicationId">@sectionInfo.Title</a>

                        @if (sectionInfo.PagesRemaining > 0)
                        {
                            <div class="govuk-task-list__hint">
                                @sectionInfo.PagesRemaining @(sectionInfo.PagesRemaining == 1 ? "page" : "pages") remaining
                            </div>
                        }

                    </div>
                    <div class="govuk-task-list__status">
                        @(sectionInfo.PagesRemaining == 0 ? "Completed" : "In progress")
                    </div>
                </li>
            }
        </ul>

        @if (!Model.IsSubmitted)
        {
            if (Model.Sections.All(s => s.PagesRemaining == 0))
            {
                <a class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
                   asp-action="Submit"
                   asp-controller="Applications"
                   asp-route-applicationId="@Model.ApplicationId"
                   asp-route-organisationId="@Model.OrganisationId">
                    Submit application
                </a>
            }

            if (!Model.VisibleToReviewers)
            {
                <a class="govuk-button govuk-button--warning" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
                   asp-action="Delete"
                   asp-controller="Applications"
                   asp-route-applicationId="@Model.ApplicationId"
                   asp-route-organisationId="@Model.OrganisationId">
                    Delete application
                </a>
            }

        }
    </div>

    @if (Model.VisibleToReviewers)
    {
        <div class="govuk-grid-column-one-third">

            <h2 class="govuk-heading-m">Related links</h2>
            <p class="govuk-body">
                <a class="govuk-link" asp-action="ApplicationMessages"
                   asp-area="Apply"
                   asp-controller="ApplicationMessages"
                   asp-route-applicationId="@Model.ApplicationId"
                   asp-route-formVersionId="@Model.FormVersionId"
                   asp-route-organisationId="@Model.OrganisationId">
                    View messages
                </a>
            </p>
        </div>
    }

</div>