@using SFA.DAS.AODP.Web.Models.ExitSurvey
@model ExitSurveyFeedbackViewModel
@{
    ViewData["Title"] = "Give feedback on this service";
}

<h1 class="govuk-heading-l">Give feedback on this service</h1>

<h2 class="govuk-heading-m">Satisfaction survey</h2>

<form asp-action="ExitSurveyFeedback" asp-controller="ExitSurvey" method="post">
    @Html.AntiForgeryToken()
    <div class="govuk-form-group">
        <govuk-radios asp-for="SatisfactionScore">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s">
                    Overall, how did you feel about the service you received today?
                </govuk-radios-fieldset-legend>
                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.SatisfactionScore))

                <govuk-radios-item value="@(SatisfactionScoreIndex.VerySatisfied)">
                    Very satisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.Satisfied)">
                    Satisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.NeitherSatisfiedOrDissatisfied)">
                    Neither satisfied or dissatisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.Dissatisfied)">
                    Dissatisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.VeryDissatisfied)">
                    Very dissatisfied
                </govuk-radios-item>
            </govuk-radios-fieldset>
        </govuk-radios>
    </div>
      <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="1200">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="with-hint">
                How could we improve this service?
            </label>
        </h1>
        <div id="with-hint-hint" class="govuk-hint">
            Do not include any personal or financial information, for example your National Insurance or credit card numbers.
        </div>
        <textarea asp-for="@Model.Comments" class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1200 characters
        </div>
    </div>
    <button class="govuk-button" data-module="govuk-button">
        Send feedback
    </button>
</form>
