@using SFA.DAS.AODP.Models.Forms
@model CreateQuestionViewModel

@{
    ViewData["Title"] = "Create Question";
}

<a class="govuk-back-link" asp-action="Edit" asp-controller="Pages" asp-route-formVersionId="@Model.FormVersionId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@Model.PageId">
    Back to Page
</a>

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-l">Create Question</h1>

<form asp-controller="Questions" asp-action="Create" method="post">

    @Html.AntiForgeryToken()

    <div class="govuk-form-group">
        <govuk-input asp-for="Title" inputmode="text" autocomplete="off">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Title</govuk-input-label>
            @Html.RenderPartialAsync("Validation/_TextInputValidationPartial", nameof(Model.Title))
        </govuk-input>
    </div>
    <div class="govuk-form-group">
        <govuk-radios asp-for="QuestionType">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s">
                    Choose type of question
                </govuk-radios-fieldset-legend>

                <govuk-radios-hint>
                    Select one option.
                </govuk-radios-hint>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.QuestionType))

                <govuk-radios-item value="@QuestionType.Text">Short text</govuk-radios-item>
                <govuk-radios-item value="@QuestionType.TextArea">Long text</govuk-radios-item>
                <govuk-radios-item value="@QuestionType.Number">Number</govuk-radios-item>
                <govuk-radios-item value="@QuestionType.Date">Date</govuk-radios-item>
                <govuk-radios-item value="@QuestionType.Radio">User selects single option from a list of options</govuk-radios-item>
                <govuk-radios-item value="@QuestionType.MultiChoice">User selects one or more options from a list of options</govuk-radios-item>
                <govuk-radios-item value="@QuestionType.File">File upload</govuk-radios-item>
            </govuk-radios-fieldset>
        </govuk-radios>
    </div>

    <div class="govuk-form-group">
        <govuk-radios asp-for="Required">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s">
                    Should this question be mandatory or optional?
                </govuk-radios-fieldset-legend>

                <govuk-radios-hint>
                    Select one option.
                </govuk-radios-hint>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.Required))

                <govuk-radios-item value="true" checked="@Model.Required">Mandatory</govuk-radios-item>
                <govuk-radios-item value="false" checked="@Model.Required == false">
                    Optional
                    <govuk-radios-hint class="govuk-hint govuk-radios__hint govuk-!-static-padding-0" id="pages-question-input-is-optional-true-hint">
                        We’ll add ‘(optional)’ to the end of the question text.
                    </govuk-radios-hint>
                </govuk-radios-item>


            </govuk-radios-fieldset>
        </govuk-radios>
    </div>
    <govuk-button type="submit">Save</govuk-button>

</form>
