@model DeleteSectionViewModel

<a class="govuk-back-link" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@Model.FormVersionId">
    Back to Form
</a>

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-l">Delete Section?</h1>

@if (Model.HasAssociatedRoutes)
{
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                Section cannot be deleted
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <p>This Section cannot be deleted because there is a route associated with it or with the pages and questions relating to this section. You must first edit the routes to remove any association before deleting this section.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a class="govuk-button" asp-action="List" asp-controller="Routes" asp-route-formVersionId="@Model.FormVersionId">View routes</a>
}
else
{
    <form asp-action="Delete" method="post">
        @Html.HiddenFor(m => m.FormVersionId)
        @Html.HiddenFor(m => m.SectionId)
        <govuk-warning-text icon-fallback-text="Warning">
            Are you sure you want to delete the section "@Model.Title"?
        </govuk-warning-text>

        <p class="govuk-body">
            @Model.Title.ToString()
        </p>

        <div class="govuk-button-group">

            <govuk-button class="govuk-button--warning" type="submit">
                Delete
            </govuk-button>

            <a class="govuk-button govuk-button--secondary"
               asp-action="Edit"
               asp-controller="Forms"
               asp-route-formVersionId="@Model.FormVersionId">
                Cancel
            </a>

        </div>
    </form>
}