@model Form

<h1 class="govuk-heading-l">Edit Form</h1>

<form asp-action="Edit" method="post">
    <div>
        <govuk-input name="Name" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Name">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div>
        <govuk-input name="Version" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Version">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Version</govuk-input-label>
        </govuk-input>
    </div>
    <div>
        <govuk-checkboxes name="Published">
            <govuk-checkboxes-item value="yes">
                Publish
            </govuk-checkboxes-item>
        </govuk-checkboxes>
    </div>
    <div>
        <govuk-input name="Key" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Key">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Key</govuk-input-label>
        </govuk-input>
    </div>

    <govuk-button type="submit">Save</govuk-button>
    <a class="govuk-button govuk-button--secondary" href="@Url.Action("Index")">Cancel</a>
</form>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Sections
        </span>
    </summary>
    <div class="govuk-details__text">
        <a class="govuk-button" asp-action="Create" asp-controller="Section" asp-route-formId="@Model.Id">Create New Section</a>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Version</th>
                    <th scope="col" class="govuk-table__header">Options</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var item in (List<Section>)ViewData["Sections"])
                {
                    <tr class="govuk-table__row">
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            @* <a class="govuk-button govuk-button--secondary" href="@Url.Action("Details", new { id = item.Id })">Details</a>&nbsp; *@
                            <a class="govuk-button" href="@Url.Action("Edit", "Section", new { id = item.Id })">Edit</a>&nbsp;
                            <a class="govuk-button govuk-button--warning" href="@Url.Action("Delete", "Section", new { id = item.Id })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</details>