@using SFA.DAS.AODP.Models.Application
@using SFA.DAS.AODP.Models.Qualifications
@using SFA.DAS.AODP.Web.Areas.Review.Models.ApplicationsReview
@using SFA.DAS.AODP.Web.Areas.Review.Models.ApplicationsReview.FundingApproval
@model QfauFundingDecisionViewModel;

@{
    ViewData["Title"] = "Funding review decision";
    bool validForSubmit = true;
}

@if (Model.Status == ApplicationStatus.NotApproved && Model.OfferFundingDetails.Count > 0)
{
    validForSubmit = false;

    <div class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                The application status is 'Not approved', but there are approved offers for the application.
                <br /> <br />
                Please review the funding decision.
            </p>
        </div>
    </div>
}
else if (Model.Status != ApplicationStatus.NotApproved && Model.Status != ApplicationStatus.Approved)
{
    validForSubmit = false;

    <div class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                The application status is not valid.
                <br /> <br />
                Please either approve or reject the application for funding before informing the AO.
            </p>
        </div>
    </div>
}
else if (Model.RelatedQualification == null && Model.Approved)
{
    validForSubmit = false;

    <div class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                <span>
                    The application's QAN does not match any regulated qualification.
                </span>
            </p>
        </div>
    </div>
}
else if (Model.RelatedQualification != null && Model.RelatedQualification.Status != ProcessStatus.DecisionRequired)
{
    validForSubmit = false;

    <div class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                <span>
                    The Ofqual qualification status is not valid to confirm the decision. The current qualification status is: @Model.RelatedQualification.Status.
                </span>
            </p>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl">
                Summary - confirm your decision to AO
                <span class="govuk-caption-l">Request for funding</span>
            </h1>
        </div>

        <div class="govuk-grid-row">
            <p class="govuk-body">Check the funding details below.</p>
            <p class="govuk-body">When reviewed, click inform AO of decision. This will tell the AO what you have decided and include the key details required.</p>

            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Status
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @if (Model.Status == ApplicationStatus.Approved)
                        {
                            <span>Approved - for one or more offers</span>
                        }
                        else if (Model.Status.HasValue)
                        {
                            <span>@ApplicationStatusDisplay.Dictionary[Model.Status.Value]</span>
                        }
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>

                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Comments
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value style="white-space: pre-line">@Model.Comments</govuk-summary-list-row-value>
                </govuk-summary-list-row>


                @if (Model.OfferFundingDetails.Any())
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Offers
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @{
                                var fundedOfferIds = Model.OfferFundingDetails.Select(o => o.FundingOfferId);
                                foreach (var fundedOffer in Model.FundingOffers.Where(o => fundedOfferIds.Contains(o.Id)))
                                {
                                    <p class="govuk-body">@fundedOffer.Name - approved</p>
                                }
                                @if (fundedOfferIds.Any())
                                {
                                    <br />
                                }
                                foreach (var fundedOffer in Model.FundingOffers.Where(o => !fundedOfferIds.Contains(o.Id)))
                                {
                                    <p class="govuk-body">@fundedOffer.Name - not approved</p>
                                }

                            }
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>

                }


                @foreach (var detail in Model.OfferFundingDetails)
                {
                    var offer = Model.FundingOffers.FirstOrDefault(f => f.Id == detail.FundingOfferId) ?? new();

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @offer.Name start date
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @detail.StartDate?.ToString("dd/MM/yyyy")
                        </govuk-summary-list-row-value>

                    </govuk-summary-list-row>

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @offer.Name end date
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @detail.EndDate?.ToString("dd/MM/yyyy")
                        </govuk-summary-list-row-value>

                    </govuk-summary-list-row>

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            @offer.Name comments
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value style="white-space: pre-line">@detail.Comments</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }

                @if (Model.RelatedQualification != null)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Ofqual qualification name
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.RelatedQualification.Name
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Ofqual qualification QAN
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.RelatedQualification.Qan
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Ofqual qualification Status
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            @Model.RelatedQualification.Status
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }
            </govuk-summary-list>
            </<div>
                <div class="govuk-grid-row">
                    <form asp-route-applicationReviewId="@Model.ApplicationReviewId"
                          asp-action="QfauFundingReviewDecisionConfirmed"
                          asp-Controller="ApplicationsReview" method="post">

                        <div class="govuk-form-group govuk-!-margin-bottom-0">
                            <govuk-button class="govuk-button" type="submit" disabled="@(!validForSubmit)">Inform AO of decision</govuk-button>
                            <a class="govuk-button govuk-button--secondary"
                               asp-area="Review"
                               asp-action="ViewApplication"
                               asp-route-applicationReviewId="@Model.ApplicationReviewId"
                               asp-controller="ApplicationsReview">Back to application details</a>
                        </div>

                    </form>


                </div>



            </div>
        </div>
    </div>
</div>