@using SFA.DAS.AODP.Models.Application
@using SFA.DAS.AODP.Models.Forms
@using SFA.DAS.AODP.Web.Areas.Review.Models.ApplicationsReview
@model ApplicationReadOnlyDetailsViewModel;

@{
    ViewData["Title"] = "Application Read Only Details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <govuk-back-link class="govuk-link govuk-task-list__link"
                         asp-action="ViewApplication"
                         asp-controller="ApplicationsReview"
                         asp-route-applicationReviewId="@Model.ApplicationReviewId">Back to application details</govuk-back-link>

        <partial name="~/Views/Shared/_NotificationPartial.cshtml" />

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Application Read Only Details / Preview</h1>


        @if (Model.SectionsWithPagesAndQuestionsAndAnswers.Any())
        {
            @foreach (var sec in Model.SectionsWithPagesAndQuestionsAndAnswers)
            {
                <h3 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                    Section: @sec.Title
                </h3>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-3">

                <div class="govuk-inset-text govuk-!-margin-top-1">
                    @if (sec.Pages.Any())
                    {

                        <ol class="govuk-list govuk-list--number govuk-list--spaced">
                            @foreach (var p in sec.Pages)
                            {
                                <li>
                                    <h4 class="govuk-heading-m govuk-!-margin-bottom-1">Page: @p.Title</h4>
                                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-3">

                                    @if (p.Questions.Any())
                                    {
                                        <ol class="govuk-list govuk-list--number">
                                            @foreach (var question in p.Questions)
                                            {
                                                <li>
                                                    <p class="govuk-body govuk-!-font-weight-bold">
                                                        Question: @question.Title
                                                        @if (!question.Required)
                                                        {
                                                            <span class="govuk-body govuk-!-font-weight-regular"> (optional)</span>
                                                        }
                                                    </p>

                                                    @foreach (var answer in question.QuestionAnswers)
                                                    {

                                                        @if (question.Type == QuestionType.Text.ToString())
                                                        {
                                                            <input class="govuk-input govuk-input--width-30"
                                                                   name="Answer" 
                                                                   type="text" 
                                                                   spellcheck="false" 
                                                                   value="@answer.FinalAnswer" 
                                                                   disabled=""
                                                                   inputmode="text" 
                                                                   readonly>
                                                        }

                                                        else if (question.Type == QuestionType.TextArea.ToString())
                                                        {
                                                            <input class="govuk-input govuk-input--width-30"
                                                                   name="Answer"
                                                                   type="text"
                                                                   spellcheck="false"
                                                                   value="@answer.FinalAnswer"
                                                                   disabled=""
                                                                   inputmode="text"
                                                                   readonly>
                                                        }
                                                        @if (question.Type == QuestionType.Number.ToString())
                                                        {
                                                            <input class="govuk-input govuk-input--width-20"
                                                                   id=""
                                                                   type="number"
                                                                   inputmode="numeric"
                                                                   value="@answer.FinalAnswer"
                                                                   disabled=""
                                                                   readonly>
                                                        }
                                                        else if (question.Type == QuestionType.Radio.ToString())
                                                        {
                                                            <div class="govuk-radios" data-module="govuk-radios" id="@question.Id">

                                                                @foreach (var option in question.QuestionOptions ?? new List<ApplicationReadOnlyDetailsViewModel.QuestionOption>())
                                                                {
                                                                    <div class="govuk-radios__item">
                                                                        <input class="govuk-radios__input"
                                                                               id="@question.Id-@option.Value"
                                                                               name="@question.Id-@option.Value"
                                                                               type="radio" 
                                                                            value="@option.Value"
                                                                            disabled
                                                                            @(option.Selected ? "checked" : "")>
                                                                        <label class="govuk-label govuk-radios__label" for="@question-@option.Value">
                                                                            @option.Value
                                                                        </label>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        else if (question.Type == QuestionType.MultiChoice.ToString())
                                                        {
                                                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
@* 
                                                                @foreach (var option in Model.Options ?? [])
                                                                {
                                                                    <div class="govuk-checkboxes__item" id="@htmlId">
                                                                        <input class="govuk-checkboxes__input" id="@htmlId-@option.Id" type="checkbox" value="@option.Id">
                                                                        <label class="govuk-label govuk-checkboxes__label" for="@htmlId-@option.Id">
                                                                            @option.Value
                                                                        </label>
                                                                    </div>
                                                                } *@
                                                            </div>
                                                        }
                                                        else if (question.Type == QuestionType.Date.ToString())
                                                        {
                                                            <input class="govuk-input govuk-input--width-20"
                                                                   name="Answer"
                                                                   type="text"
                                                                   spellcheck="false"
                                                                   value="@answer.FinalAnswer"
                                                                   disabled=""
                                                                   inputmode="text"
                                                                   readonly>
                                                        }
                                                        else if (question.Type == QuestionType.File.ToString())
                                                        {
                                                            <input class="govuk-file-upload" id="" type="file" multiple>
                                                        }

                                                    }

                                                </li>
                                            }
                                        </ol>
                                    }
                                    else
                                    {
                                        <p class="govuk-body">No questions available for this page.</p>
                                    }
                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <p class="govuk-body">No pages available for this section.</p>
                    }
                </div>
            }
        }
        else
        {
            <p>No sections available.</p>
        }

        <a class="govuk-button govuk-button--secondary"
           asp-action="ViewApplication"
           asp-controller="ApplicationsReview"
           asp-route-applicationReviewId="@Model.ApplicationReviewId">Back to application details</a>
    </div>
</div>
