@using Azure.Core
@using System.Linq
@using SFA.DAS.AODP.Web.Views.Shared
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model SFA.DAS.AODP.Web.Areas.Admin.Models.UploadImportFileViewModel
@{
    Layout = "_Layout";
    var allowed = ".xlsx";

    var backLinkModel = new BackLinkModel
    {
        Action = "Index",
        Controller = "Import",
        Area = "Admin"
    };

    var hasFileError = ViewData.ModelState.ContainsKey(nameof(Model.File)) && ViewData.ModelState[nameof(Model.File)].Errors.Count > 0;
    var inputClass = hasFileError ? "govuk-file-upload govuk-file-upload--error" : "govuk-file-upload govuk-!-margin-top-2";
    // Resolve action name from ViewBag with fallback
    var formAction = (ViewBag.FormAction as string) ?? "DefundingList";
}

<partial name="~/Views/Shared/_ValidationSummaryPartial.cshtml" />

@await Html.PartialAsync("_BackLinkPartial", backLinkModel)

<h1 class="govuk-heading-xl">@((ViewBag.PageTitle as string) ?? "Import defunding list data")</h1>

<form asp-area="Admin" asp-controller="Import" asp-action="@(formAction)" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="govuk-form-group @(hasFileError ? "govuk-form-group--error" : "")">
        <label class="govuk-label" for="File">
            Import file
        </label>

        <div class="govuk-hint">
            This must be an @allowed file <br /><br />
            Do not close this window, navigate away or refresh the page until it's done.
        </div>

        <input for="File"
               class="@inputClass"
               id="File"
               name="File"
               type="file"
               accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
               required />

        <span asp-validation-for="File" class="govuk-error-message" />
    </div>

    <div class="govuk-form-group">
        <govuk-button type="submit">Continue</govuk-button>
    </div>

    <input for="Source" type="hidden" value="@(formAction)" />
</form>