@using static SFA.DAS.AODP.Web.Models.FormBuilder.Question.EditQuestionViewModel
@model FileUploadOptions

<div class="govuk-form-group">
    <govuk-input disabled="@(!ViewBag.IsEditable)"
                 name="FileUpload[FileNamePrefix]"
                 type="text"
                 asp-for="FileNamePrefix"
                 value="@Html.Encode(Model.FileNamePrefix)"
                 input-class="govuk-input--width-30"
                 spellcheck="false" autocomplete="off">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">What is the file naming prefix shown to admins reviewing the applications? (optional)</govuk-input-label>
        <govuk-input-hint>The uploaded file name will be shown to the admins if this is left empty.</govuk-input-hint>

    </govuk-input>
</div>

<div class="govuk-form-group">
    <govuk-input disabled="@(!ViewBag.IsEditable)"
                 id="FileUpload.NumberOfFiles"
                 name="FileUpload[NumberOfFiles]"
                 type="number"
                 asp-for="NumberOfFiles"
                 value="@Html.Encode(Model.NumberOfFiles)"
                 input-class="govuk-input--width-3"
                 inputmode="numeric" pattern="[0-9]*"
                 spellcheck="false" autocomplete="off">
        <govuk-input-label is-page-heading="false" class="govuk-label--s">What is the maximum, inclusive, number of files allowed?</govuk-input-label>
        <govuk-input-hint>Up to 10 files are allowed per question. Each file size will be limited to 5MB.</govuk-input-hint>
    </govuk-input>
</div>


<govuk-details>
    <govuk-details-summary>
        Allowed file types
    </govuk-details-summary>
    <govuk-details-text>
        The system currently allows for the following fie types to be uploaded:
        <br />
        <ul>
            @foreach (var fileType in Model.FileTypes ?? [])
            {
                <li>@fileType</li>
            }
        </ul>
        <br />

        Please raise a system development request to allow for additional file types.
    </govuk-details-text>
</govuk-details>