@using SFA.DAS.AODP.Web.Models.Application;
@using SFA.DAS.AODP.Web.Models.TimelineComponents;
@using System.Globalization;
@model TimelineViewModel

@if (Model.Items != null && Model.Items.Any())
{
    <div class="app-timeline">
        @foreach (var item in Model.Items.OrderByDescending(m => m.SentAt))
        {
            <div class="app-timeline__item">

                <div class="app-timeline__header">
                    <h2 class="app-timeline__title">@item.TimelineTitle</h2>
                </div>

                <p class="app-timeline__details">
                <p class="app-timeline__byline">@item.TimelineMetadata</p>
                </p>

                @if (item.ShowText)
                {
                    <div class="app-timeline__description">
                        <p style="white-space: pre-line">@item.Text</p>
                    </div>
                }
                @if (item.Files != null && item.Files.Any())
                {
                    <p class="govuk-body-m"><strong>Uploaded files:</strong></p>
                    <div class="govuk-list--bullet">
                        <ul>
                            @foreach (var file in item.Files)
                            {
                                <li>
                                    <span class="govuk-file-name">@file.FileDisplayName</span>

                                    <form method="post" action="@file.FormUrl">
                                        <input type="hidden" name="FilePath" value="@file.FullPath" />
                                        <input type="hidden" name="MessageId" value="@item.Id" />
                                        <button type="submit" class="govuk-button govuk-button--secondary">
                                            Download <span class="govuk-visually-hidden">@file.FileDisplayName</span>
                                        </button>
                                        @Html.AntiForgeryToken()
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <p class="govuk-body">No application updates yet.</p>
}