@using SFA.DAS.AODP.Web.Models.BulkActions
@model ApplicationBulkActionErrorModel

@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

        <p class="govuk-body">
            The following applications could not be updated.
        </p>

        <table class="govuk-table govuk-!-margin-top-4 govuk-!-margin-bottom-6">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Submission ID</th>
                    <th scope="col" class="govuk-table__header">Title</th>
                    <th scope="col" class="govuk-table__header">Reason</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var applicationError in Model.Failed)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@applicationError.ApplicationReference</td>
                        <td class="govuk-table__cell">@applicationError.Title</td>
                        <td class="govuk-table__cell">@applicationError.FailureReason</td>
                    </tr>
                }
            </tbody>
        </table>

        <p class="govuk-body govuk-!-margin-top-6">
            <a href="@Model.BackLinkUrl">@Model.BackLinkText</a>
        </p>

    </main>
</div>