@using SFA.DAS.AODP.Web.Areas.Apply.Models
@using SFA.DAS.AODP.Web.Models.Application;
@using SFA.DAS.AODP.Web.Models.TimelineComponents;
@model ApplicationMessagesViewModel

@{
    ViewData["Title"] = "Application Messages";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <govuk-back-link class="govuk-link govuk-task-list__link"
                         asp-action="ViewApplication"
                         asp-controller="Applications"
                         asp-route-organisationId="@Model.OrganisationId"
                         asp-route-applicationId="@Model.ApplicationId"
                         asp-route-formVersionId="@Model.FormVersionId">Back</govuk-back-link>

        <partial name="~/Views/Shared/_NotificationPartial.cshtml" />
        <partial name="~/Views/Shared/_ValidationSummaryPartial.cshtml" />

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Application messages</h1>

        <div class="govuk-hint">
            Request for funding
        </div>


        <!-- Message Box and Message Send  -->
        @if (!Model.AdditionalActions.Preview)
        {
            <form asp-controller="ApplicationMessages" asp-action="ApplicationMessages" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.OrganisationId)
                @Html.HiddenFor(m => m.ApplicationId)
                @Html.HiddenFor(m => m.FormVersionId)
                @Html.HiddenFor(m => m.SelectedMessageType)


                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="messageText">Message</label>
                </h1>
                <div id="" class="govuk-hint">
                    Reply to information requests. You will be able to upload files when you are previewing the message.
                </div>

                <div class="govuk-form-group @(ViewData.ModelState["MessageText"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                    <textarea class="govuk-textarea @(ViewData.ModelState["MessageText"]?.Errors.Count > 0 ? "govuk-textarea--error" : "")"
                              id="messageText"
                              name="MessageText"
                              rows="5"
                              aria-describedby="more-detail-hint @(ViewData.ModelState["MessageText"]?.Errors.Count > 0 ? "messageText-error" : "")">@Model.MessageText</textarea>
                    @if (ViewData.ModelState["MessageText"]?.Errors.Count > 0)
                    {
                        <p id="messageText-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Type a message
                        </p>
                    }
                </div>

                <button type="submit" name="AdditionalActions.Preview" value="true" class="govuk-button">Preview</button>
            </form>
        }
        else
        {
            <form asp-controller="ApplicationMessages" asp-action="ApplicationMessages" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.OrganisationId)
                @Html.HiddenFor(m => m.ApplicationId)
                @Html.HiddenFor(m => m.FormVersionId)
                @Html.HiddenFor(m => m.MessageText)
                @Html.HiddenFor(m => m.SelectedMessageType)

                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Message
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value style="white-space: pre-line">@Model.MessageText</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>

                <div class="govuk-form-group @(ViewData.ModelState["Files"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                    <label class="govuk-label govuk-label--s" for="file-upload">
                        Upload files (optional)
                    </label>
                    <div id="files-hint" class="govuk-hint">
                        Please note the system does not currently allow for the users to remove uploaded files.
                    </div>
                    <input class="govuk-file-upload" id="Files" name="Files" type="file" multiple
                           aria-describedby="files-hint @(ViewData.ModelState["Files"]?.Errors.Count > 0 ? "files-error" : "")">
                    @if (ViewData.ModelState["Files"]?.Errors.Count > 0)
                    {
                        <p id="files-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> There was an error uploading files.
                        </p>
                    }
                </div>

                <govuk-details>
                    <govuk-details-summary>
                        File restrictions
                    </govuk-details-summary>
                    <govuk-details-text>
                        You can upload a maximum of @Model.FileSettings.MaxUploadNumberOfFiles files. Each file must not be more than @Model.FileSettings.MaxUploadFileSize mb and must be one of the following types: @string.Join(", ", Model.FileSettings.UploadFileTypesAllowed).
                    </govuk-details-text>
                </govuk-details>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <button type="submit" name="AdditionalActions.Send" value="true" class="govuk-button">Send message</button>
                        <button type="submit" name="AdditionalActions.Edit" value="true" class="govuk-button govuk-button--secondary">
                            Edit
                        </button>
                    </div>
                    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
                        <a class="govuk-button govuk-button--secondary"
                           asp-action="ApplicationMessages"
                           asp-controller="ApplicationMessages"
                           asp-route-organisationId="@Model.OrganisationId"
                           asp-route-applicationId="@Model.ApplicationId">
                            Cancel
                        </a>
                    </div>
                </div>

            </form>
        }


        <form asp-route-organisationId="@Model.OrganisationId" asp-route-formVersionId="@Model.FormVersionId"
              asp-route-applicationId="@Model.ApplicationId" asp-action="ReadApplicationMessages" asp-Controller="ApplicationMessages" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.OrganisationId)
            @Html.HiddenFor(m => m.ApplicationId)
            @Html.HiddenFor(m => m.FormVersionId)
            <govuk-button class="govuk-button--secondary govuk-!-margin-top-2" type="submit">Mark all messages as read</govuk-button>
        </form>


        <!-- Application Event Timeline  -->
        @{
            
            var timelineModel = new TimelineViewModel
            {
                Items = Model.TimelineMessages
            };

            <div>
                @await Html.PartialAsync("_TimelinePartial", timelineModel)
            </div>
        }


    </div>

    <div class="govuk-grid-column-one-third">
        <h5 class="govuk-heading-m govuk-!-margin-bottom-2">Related links</h5>
        <p class="govuk-body">
            <a class="govuk-link" rel="noreferrer noopener" target="_blank"
               asp-action="ViewApplication"
               asp-controller="Applications"
               asp-route-organisationId="@Model.OrganisationId"
               asp-route-applicationId="@Model.ApplicationId"
               asp-route-formVersionId="@Model.FormVersionId">View application (opens in new tab)</a>
        </p>
    </div>
</div>