@using SFA.DAS.AODP.Web.Models.FormBuilder.Routing
@model CreateRouteChooseQuestionViewModel

@{
    ViewData["Title"] = "Choose question";
}

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<form asp-controller="Routes" asp-action="ChooseQuestion" method="post">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(v => v.FormVersionId)
    @Html.HiddenFor(v => v.SectionId)
    @Html.HiddenFor(v => v.PageId)

    <div class="govuk-form-group">
        <govuk-radios asp-for="ChosenQuestionId">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="true">
                    <h1 class="govuk-heading-l">Choose question</h1>
                </govuk-radios-fieldset-legend>

                <govuk-radios-hint>
                    Select one option. Only questions requiring user to select a option are shown.
                </govuk-radios-hint>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.ChosenQuestionId))

                @foreach (var question in Model.Questions.OrderBy(o => o.Order))
                {
                    <govuk-radios-item value="@question.Id">Question @(question.Order). @question.Title</govuk-radios-item>
                }


            </govuk-radios-fieldset>
        </govuk-radios>
    </div>

    <govuk-button type="submit">Continue to configure routing</govuk-button>

</form>
