@using SFA.DAS.AODP.Web.Models.Section
@model EditSectionViewModel

<h1 class="govuk-heading-l">Edit Section</h1>

<form asp-action="Edit" method="post">
    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Title" input-class="govuk-input--width-50" inputmode="text" pattern="[0-9]*" spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div class="govuk-form-group">

        <govuk-textarea asp-for="@Model.Description">
            <govuk-textarea-label is-page-heading="false" class="govuk-label--s">Description</govuk-textarea-label>
        </govuk-textarea>
    </div>

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Order" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" disabled=true spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Order</govuk-input-label>
        </govuk-input>
    </div>

    <govuk-button type="submit">Save</govuk-button>
    <a class="govuk-button govuk-button--secondary" href="@Url.Action("Edit", "Form", new { id = Model.FormVersionId })">Cancel</a>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<a class="govuk-button" asp-action="Create" asp-controller="Pages" asp-route-sectionId="@Model.SectionId" asp-route-formVersionId="@Model.FormVersionId">Create New Page</a>
@* <table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Title</th>
            <th scope="col" class="govuk-table__header">Order</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Options</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var item in (List<GetAllPagesQueryResponse.Page>)ViewData["Pages"])
        {
            <tr class="govuk-table__row">
                <td>@item.Title</td>
                <td>@item.Order</td>
                <td>@item.Description</td>
                <td>
                    <a class="govuk-button" href="@Url.Action("Edit", "Page", new { pageId = item.Id, sectionId = item.SectionId, formVersionId = Model.FormVersionId })">Edit</a>&nbsp;
                    <a class="govuk-button govuk-button--warning" href="@Url.Action("Delete", "Page", new { pageId = item.Id, sectionId = item.SectionId, formVersionId = Model.FormVersionId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@