@model EditFormVersionViewModel

<a class="govuk-back-link" asp-action="Index" asp-controller="Forms">
    Back to Forms
</a>

<h1 class="govuk-heading-l">Edit Form</h1>

<form asp-action="Edit" method="post">
    @Html.HiddenFor(m => m.Id)

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Title" input-class="govuk-input--width-50" inputmode="text" pattern="[0-9]*" spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div class="govuk-form-group">

        <govuk-textarea asp-for="@Model.Description">
            <govuk-textarea-label is-page-heading="false" class="govuk-label--s">Description</govuk-textarea-label>
        </govuk-textarea>
    </div>

    <div class="govuk-form-group">
        <govuk-input name="Order" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Order">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Order</govuk-input-label>
        </govuk-input>
    </div>

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Version" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" disabled=true spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Version</govuk-input-label>
        </govuk-input>
    </div>

    <div class="govuk-form-group">
        <govuk-input asp-for="@Model.Status" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" disabled=true spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Status</govuk-input-label>
        </govuk-input>
        @if (Model.Status == "Draft")
        {
            <button type="submit"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button"
                    data-prevent-double-click="true"
                    value="@Model.Id"
                    name="AdditionalFormActions[Publish]">
                Publish
            </button>
        }
        @if (Model.Status == "Published")
        {
            <button type="submit"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button"
                    data-prevent-double-click="true"
                    value="@Model.Id"
                    name="AdditionalFormActions[UnPublish]">
                Unpublish
            </button>
        }
    </div>

    <div class="govuk-button-group">
        <govuk-button type="submit">Save</govuk-button>
        <a class="govuk-button govuk-button--secondary"
           asp-action="Index"
           asp-controller="Forms">
            Cancel
        </a>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <a class="govuk-button" asp-action="Create" asp-controller="Sections" asp-route-formVersionId="@Model.Id">Create New Section</a>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Options</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var (item, i) in Model.Sections.Select((v, i) => (v, i)))
            {
                <tr class="govuk-table__row">
                    <td>@item.Title</td>
                    <td>
                        <a class="govuk-button"
                        asp-action="Edit"
                        asp-controller="Sections"
                        asp-route-sectionId="@item.Id"
                        asp-route-formVersionId="@Model.Id">
                            Edit
                        </a>
                        @if (i != 0)
                        {
                            <button class="govuk-button govuk-button--secondary" type="submit" value="@item.Id" name="AdditionalActions[MoveUp]">
                                Move Up
                            </button>
                        }
                        @if (i != Model.Sections.Count() - 1)
                        {
                            <button class="govuk-button govuk-button--secondary" type="submit" value="@item.Id" name="AdditionalActions[MoveDown]">
                                Move Down
                            </button>
                        }
                        <a class="govuk-button govuk-button--warning" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init=""
                           asp-action="Delete"
                           asp-controller="Sections"
                           asp-route-formVersionId="@Model.Id"
                           asp-route-sectionId="@item.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
