@model GetFormVersionByIdQueryResponse.FormVersion

<h1 class="govuk-heading-l">Edit Form</h1>

<form asp-action="Edit" method="post">
    <div>
        <govuk-input name="Name" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Name">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Name</govuk-input-label>
        </govuk-input>
    </div>
    <div>
        <govuk-input name="Version" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Version">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Version</govuk-input-label>
        </govuk-input>
    </div>
@*     <div>
        <govuk-checkboxes name="Published">
            <govuk-checkboxes-item value="yes">
                Publish
            </govuk-checkboxes-item>
        </govuk-checkboxes>
    </div>
    <div>
        <govuk-input name="Key" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Key">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Key</govuk-input-label>
        </govuk-input>
    </div> *@
    <div>
        <govuk-input name="Order" input-class="govuk-input--width-10" inputmode="text" pattern="[0-9]*" spellcheck="false" value="@Model.Order">
            <govuk-input-label is-page-heading="false" class="govuk-label--s">Order</govuk-input-label>
        </govuk-input>
    </div>
    @* Provisional editor *@
    <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="descriptionEditor">
            Description
        </label>
        <div id="descriptionEditor">
            @Html.Raw(@Model.Description.Trim('"'))
        </div>
    </div>

    <button class="govuk-button" type="submit">Save</button>
    <a class="govuk-button govuk-button--secondary"
        asp-action="Index"
        asp-controller="Forms">
        Cancel
    </a>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<a class="govuk-button" asp-action="Create" asp-controller="Sections" asp-route-forms="forms" asp-route-formVersionId="@Model.Id">Create New Section</a>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Options</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var item in (List<GetAllSectionsQueryResponse.Section>)ViewData["Sections"])
        {
            <tr class="govuk-table__row">
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <a class="govuk-button"
                       asp-action="Edit"
                       asp-controller="Sections"
                       asp-route-sectionId="@item.Id"
                       asp-route-formVersionId="@item.FormVersionId">
                        Edit
                    </a>
                    &nbsp;
                    <a class="govuk-button govuk-button--warning" asp-action="Delete" asp-controller="Sections" asp-route-sectionId="@item.Id" asp-route-forms="forms" asp asp-route-formVersionId="@item.FormVersionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        const quill = new Quill('#descriptionEditor', {
            modules: {
                toolbar: [
                    ['bold', 'italic'],
                    ['link', 'blockquote'],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                ],
            },
            theme: 'snow',
        });

        const form = document.querySelector('form');
        form.addEventListener('formdata', (event) => {
            // Append Quill content before submitting
            event.formData.append('Description', JSON.stringify(quill.root.innerHTML));
        });
    </script>
}