@using SFA.DAS.AODP.Web.Models.FormBuilder.Form
@model FormVersionListViewModel

<h1 class="govuk-heading-l">View Forms</h1>

<a class="govuk-button" asp-action="Create" asp-controller="Forms">Create New Form</a>

<form asp-action="Index" method="post">

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Options</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var (item, i) in Model.FormVersions.OrderBy(o => o.Order).Select((v, i) => (v, i)))
            {
                <tr class="govuk-table__row">
                    <td>@item.Title</td>
                    <td>@item.Status</td>
                    <td>
                        @if (item.PublishedVersionId.HasValue)
                        {
                            <a class="govuk-button" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@item.PublishedVersionId">View published version</a>

                        }

                        @if (item.DraftVersionId.HasValue)
                        {
                            <a class="govuk-button" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@item.DraftVersionId">Edit draft version</a>
                        }
                        else
                        {
                            <button data-prevent-double-click="true" class="govuk-button govuk-button--secondary" type="submit" value="@item.FormId" name="AdditionalActions[CreateDraft]">
                                Create draft version
                            </button>
                        }
                        @if (i != 0)
                        {
                            <button class="govuk-button govuk-button--secondary" type="submit" value="@item.FormId.Value" name="AdditionalActions[MoveUp]">
                                Move Up
                            </button>
                        }
                        @if (i != Model.FormVersions.Count() - 1)
                        {
                            <button class="govuk-button govuk-button--secondary" type="submit" value="@item.FormId.Value" name="AdditionalActions[MoveDown]">
                                Move Down
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
