@model List<GetAllFormVersionsQueryResponse.FormVersion>

<h1 class="govuk-heading-l">View Forms</h1>

<a class="govuk-button" asp-action="Create" asp-controller="Forms">Create New Form</a>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Version</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Options</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var item in Model)
        {
            <tr class="govuk-table__row">
                <td>@item.Name</td>
                <td>@item.Version</td>
                <td>@item.Status.ToString()</td>
                <td>
                    <a class="govuk-button" asp-action="Edit" asp-controller="Forms" asp-route-formVersionId="@item.Id">Edit</a>
                    &nbsp;
                    <a class="govuk-button govuk-button--warning" asp-action="Delete" asp-controller="Forms" asp-route-formVersionId="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>