@using SFA.DAS.AODP.Web.Models.GdsComponents
@model PaginationModel

@{
    var maxMiniPagingSize = 3;
    var maxNumberOfPages = 5;
    var blocks = new List<int>();

    if (Model.MaxPageNumber <= maxNumberOfPages)
    {
        for (var i = 1; i <= Model.MaxPageNumber; i++)
        {
            blocks.Add(i);
        }
    }
    else
    {
        if (Model.CurrentPage <= maxMiniPagingSize)
        {
            for (var i = 1; i <= maxMiniPagingSize; i++)
            {
                blocks.Add(i);
            }
            blocks.Add(0); // Ellipsis
            blocks.Add(Model.MaxPageNumber);
        }
        else if (Model.CurrentPage >= Model.MaxPageNumber - maxMiniPagingSize)
        {
            blocks.Add(1);
            blocks.Add(0); // Ellipsis
            for (var i = Model.MaxPageNumber - maxMiniPagingSize; i <= Model.MaxPageNumber; i++)
            {
                blocks.Add(i);
            }
        }
        else
        {
            blocks.Add(1);
            blocks.Add(0); // Ellipsis
            for (var i = Model.CurrentPage - 1; i <= Model.CurrentPage + 1; i++)
            {
                blocks.Add(i);
            }
            blocks.Add(0); // Ellipsis
            blocks.Add(Model.MaxPageNumber);
        }
    }
}
}

<nav class="govuk-pagination" aria-label="@Model.Label" role="navigation">
    @if (Model.CurrentPage > 1)
    {
        <a class="govuk-pagination__prev" href="@Model.PageLink?page=@(Model.CurrentPage - 1)" rel="prev">
            <span class="govuk-pagination__link-title">Previous</span>
        </a>
    }

    <ul class="govuk-pagination__list">
        @foreach (var block in blocks)
        {
            if (block == 0)
            {
                <li class="govuk-pagination__item govuk-pagination__item--ellipses" aria-hidden="true">...</li>
            }
            else
            {
                var className = "govuk-pagination__item";
                if (Model.CurrentPage == block) className += " govuk-pagination__item--current";
                <li class="@className">
                    <a href="@Model.PageLink?page=@block" aria-label="Page @block">@block</a>
                </li>
            }
        }
    </ul>

    @if (Model.CurrentPage < Model.MaxPageNumber)
    {
        <a class="govuk-pagination__next" href="@Model.PageLink?page=@(Model.CurrentPage + 1)" rel="next">
            <span class="govuk-pagination__link-title">Next</span>
        </a>
    }
</nav>
