@* @using SFA.DAS.AODP.Web.Models.Routing
@model CreateRouteChoosePageViewModel


<form asp-controller="Route" asp-action="ChoosePage" method="post">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(v => v.FormVersionId)
    @Html.HiddenFor(v => v.SectionKey)

    <div class="govuk-form-group">
        <govuk-radios asp-for="ChosenPageKey">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="true">
                    <h1 class="govuk-heading-l">Choose page</h1>
                </govuk-radios-fieldset-legend>

                <govuk-radios-hint>
                    Select one option. Only pages with questions requiring user to select a option are shown.
                </govuk-radios-hint>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.ChosenPageKey))

                @foreach (var pageInformation in Model.Pages.OrderBy(o => o.Order))
                {
                    <govuk-radios-item value="@pageInformation.Key">@pageInformation.Title</govuk-radios-item>
                }


            </govuk-radios-fieldset>
        </govuk-radios>
    </div>

    <govuk-button type="submit">Continue to choose question</govuk-button>

</form>
 *@