@using SFA.DAS.AODP.Web.Models.FormBuilder.Routing

@model CreateRouteChooseSectionAndPageViewModel

@{
    ViewData["Title"] = "Choose section and page";
}
<form asp-controller="Routes" asp-action="ChooseSection" method="post" gfa-prepend-error-summary="false">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(v => v.FormVersionId)

    <div class="govuk-form-group">
        <govuk-radios asp-for="@Model.ChosenSectionId">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="true">
                    <h1 class="govuk-heading-l">Choose section and page</h1>
                </govuk-radios-fieldset-legend>

                <govuk-radios-hint>
                    Select one option. Only sections and pages with questions requiring user to select a option are shown.
                </govuk-radios-hint>

                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.ChosenSectionId))
                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.ChosenPageId))

                @foreach (var sectionInformation in Model.Sections.OrderBy(o => o.Order))
                {
                    <govuk-radios-item value="@sectionInformation.Id">

                        Section @(sectionInformation.Order). @sectionInformation.Title

                        <govuk-radios-item-conditional>
                            <govuk-radios asp-for="@Model.ChosenPageId">
                                <govuk-radios-fieldset>
                                    <govuk-radios-fieldset-legend is-page-heading="true">
                                        <h2 class="govuk-heading-s">Choose page</h2>
                                    </govuk-radios-fieldset-legend>

                                    @foreach (var pageInformation in sectionInformation.Pages.OrderBy(o => o.Order))
                                    {
                                        <govuk-radios-item value="@pageInformation.Id">
                                         Page @(pageInformation.Order). @pageInformation.Title
                                        </govuk-radios-item>
                                    }

                                </govuk-radios-fieldset>
                            </govuk-radios>
                        </govuk-radios-item-conditional>

                    </govuk-radios-item>
                }
            </govuk-radios-fieldset>
        </govuk-radios>
    </div>

    <govuk-button type="submit">Continue to choose question</govuk-button>

</form>
