@using SFA.DAS.AODP.Web.Models.Routing
@model CreateRouteViewModel


<h1 class="govuk-heading-l">Configure route</h1>

<govuk-summary-list>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Section
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            Section 1
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Page
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            Page 1
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
    <govuk-summary-list-row>
        <govuk-summary-list-row-key>
            Question
        </govuk-summary-list-row-key>
        <govuk-summary-list-row-value>
            Question 1
        </govuk-summary-list-row-value>
    </govuk-summary-list-row>
</govuk-summary-list>


<form asp-controller="Route" asp-action="Create" method="post">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(v => v.FormVersionId)
    @Html.HiddenFor(v => v.SectionKey)
    @Html.HiddenFor(v => v.PageKey)
    @Html.HiddenFor(v => v.QuestionKey)
    <govuk-summary-card>
        <govuk-summary-card-title>Option 1</govuk-summary-card-title>
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    If the answer is
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    Option 1
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    the next page should be
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <govuk-select name="Sort">
                        <govuk-select-label>Choose next page in this section</govuk-select-label>
                        <govuk-select-item value="Default" selected=true>Default next page</govuk-select-item>

                        <govuk-select-item value="EndSection">Go to end of section</govuk-select-item>
                        <govuk-select-item value="views">Most views</govuk-select-item>
                        <govuk-select-item value="comments">Most comments</govuk-select-item>
                    </govuk-select>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    the next section should be
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <govuk-select name="Sort">
                        <govuk-select-label>Choose next section</govuk-select-label>
                        <govuk-select-item value="Default" selected=true>Default next section</govuk-select-item>
                        <govuk-select-item value="views">Most views</govuk-select-item>
                        <govuk-select-item value="comments">Most comments</govuk-select-item>
                    </govuk-select>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>
    </govuk-summary-card>



    <govuk-button type="submit">Save</govuk-button>

</form>
