@using SFA.DAS.AODP.Application.Queries.FormBuilder.Routes
@model GetRoutingInformationForFormQueryResponse


<h1 class="govuk-heading-l">Routes</h1>

@foreach (var sectionInfo in Model.Sections.OrderBy(o => o.Order))
{
    <h2 class="govuk-heading-m">@(sectionInfo.Order). @sectionInfo.Title</h2>

    foreach (var pageInfo in sectionInfo.Pages)
    {
        <h3 class="govuk-heading-s">@(pageInfo.Order). @pageInfo.Title</h3>
        <govuk-summary-card>
            <govuk-summary-card-title>Routes for Question @pageInfo.Quesiton.Order: @pageInfo.Quesiton.Title</govuk-summary-card-title>
            <govuk-summary-card-actions>
                <govuk-summary-card-action>
                    <a class="govuk-link">Edit</a>

                </govuk-summary-card-action>
            </govuk-summary-card-actions>
            <govuk-summary-list>

                @foreach (var option in pageInfo.Quesiton.Routes)
                {
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            If the answer is @option.Option.Value
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value>
                            <ul class="govuk-list">
                                @if (option.NextPage?.Id != null)
                                {
                                    <li>The next page is: <strong>@(option.NextPage.Order). @option.NextPage.Title</strong></li>
                                }
                                else if(option.EndSection){
                                    <li>Go to end of current section.</li>
                                }
                                else {
                                    <li>Go to default next page.</li>
                                }

                                @if (option.NextSection?.Id != null)
                                {
                                    <li>The next section is: <strong>@(option.NextSection.Order). @option.NextSection.Title</strong></li>
                                }
                                else if (option.EndSection)
                                {
                                    <li>Go to end of form.</li>
                                }
                                else
                                {
                                    <li>Go to default next section.</li>
                                }
                            </ul>
                        </govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                }

            </govuk-summary-list>
        </govuk-summary-card>
    }
}





