@using SFA.DAS.AODP.Web.Areas.Review.Models.ApplicationMessage
@using SFA.DAS.AODP.Web.Models.Application;
@using SFA.DAS.AODP.Web.Models.RelatedLinks
@using SFA.DAS.AODP.Web.Models.TimelineComponents;
@model ApplicationMessagesViewModel

@{
    ViewData["Title"] = "Application Messages";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <govuk-back-link class="govuk-link govuk-task-list__link"
                         asp-action="ViewApplication"
                         asp-controller="ApplicationsReview"
                         asp-route-applicationReviewId="@Model.ApplicationReviewId">Back</govuk-back-link>

        <partial name="~/Views/Shared/_NotificationPartial.cshtml" />
        <partial name="~/Views/Shared/_ValidationSummaryPartial.cshtml" />

        @if (Model.AdditionalActions.Preview)
        {
            <div class="govuk-notification-banner" role="banner" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @Model.MessageInformationBanner
                    </p>
                </div>
            </div>
        }

        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Application messages</h1>

        <div class="govuk-hint">
            Request for funding
        </div>

        <!-- Message Box and Message Send  -->
        @if (!Model.AdditionalActions.Preview)
        {
            <form asp-controller="ApplicationMessages" asp-action="ApplicationMessages" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.ApplicationReviewId)

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="messageText">Message</label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                    @Model.Hint
                </div>

                <div class="govuk-form-group @(ViewData.ModelState["MessageText"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                    <textarea class="govuk-textarea @(ViewData.ModelState["MessageText"]?.Errors.Count > 0 ? "govuk-textarea--error" : "")"
                              id="messageText"
                              name="MessageText"
                              rows="5"
                              aria-describedby="@(ViewData.ModelState["MessageText"]?.Errors.Count > 0 ? "messageText-error" : "more-detail-hint")"
                              autocomplete="off">@Model.MessageText</textarea>
                    @if (ViewData.ModelState["MessageText"]?.Errors.Count > 0)
                    {
                        <p id="messageText-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Type a message
                        </p>
                    }
                </div>

                <div class="govuk-form-group @(ViewData.ModelState["SelectedMessageType"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                    <label class="govuk-label" for="messageType">Message type</label>
                    @if (ViewData.ModelState["SelectedMessageType"]?.Errors.Count > 0)
                    {
                        <p id="messageType-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Select a message type
                        </p>
                    }
                    <select asp-for="SelectedMessageType"
                            asp-items="@(Model.MessageTypeSelectOptions)"
                            class="govuk-select @(ViewData.ModelState["SelectedMessageType"]?.Errors.Count > 0 ? "govuk-select--error" : "")"
                            aria-describedby="@(ViewData.ModelState["SelectedMessageType"]?.Errors.Count > 0 ? "messageType-error" : null)"
                            id="messageType">
                    </select>

                </div>

                <button type="submit" name="AdditionalActions.Preview" value="true" class="govuk-button">Preview</button>

            </form>
        }
        else
        {
            <form asp-controller="ApplicationMessages" asp-action="ApplicationMessages" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.ApplicationReviewId)
                @Html.HiddenFor(m => m.MessageText)
                @Html.HiddenFor(m => m.SelectedMessageType)
                @Html.HiddenFor(m => m.MessageTypeSelectOptions)

                <govuk-summary-list>
                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Message
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value style="white-space: pre-line">@Model.MessageText</govuk-summary-list-row-value>
                    </govuk-summary-list-row>

                    <govuk-summary-list-row>
                        <govuk-summary-list-row-key>
                            Message type
                        </govuk-summary-list-row-key>
                        <govuk-summary-list-row-value style="white-space: pre-line">@Model.SelectedMessageTypeDisplay</govuk-summary-list-row-value>
                    </govuk-summary-list-row>
                </govuk-summary-list>

                <div class="govuk-form-group @(ViewData.ModelState["Files"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                    <label class="govuk-label govuk-label--s" for="file-upload">
                        Upload files (optional)
                    </label>
                    <div id="files-hint" class="govuk-hint">
                        Please note the system does not currently allow for the users to remove uploaded files.
                    </div>
                    <input class="govuk-file-upload" id="Files" name="Files" type="file" multiple
                           aria-describedby="files-hint @(ViewData.ModelState["Files"]?.Errors.Count > 0 ? "files-error" : "")">
                    @if (ViewData.ModelState["Files"]?.Errors.Count > 0)
                    {
                        <p id="files-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> There was an error uploading files.
                        </p>
                    }
                </div>

                <govuk-details>
                    <govuk-details-summary>
                        File restrictions
                    </govuk-details-summary>
                    <govuk-details-text>
                        You can upload a maximum of @Model.FileSettings.MaxUploadNumberOfFiles files. Each file must not be more than @Model.FileSettings.MaxUploadFileSize mb and must be one of the following types: @string.Join(", ", Model.FileSettings.UploadFileTypesAllowed).
                    </govuk-details-text>
                </govuk-details>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <button type="submit" name="AdditionalActions.Send" value="true" class="govuk-button">Confirm message</button>
                        <button type="submit" name="AdditionalActions.Edit" value="true" class="govuk-button govuk-button--secondary">
                            Edit
                        </button>
                    </div>
                    <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
                        <a class="govuk-button govuk-button--secondary"
                           asp-action="ApplicationMessages"
                           asp-controller="ApplicationMessages"
                           asp-route-applicationReviewId="@Model.ApplicationReviewId">
                            Cancel
                        </a>
                    </div>
                </div>

            </form>
        }

        <form asp-route-applicationReviewId="@Model.ApplicationReviewId"
              asp-action="ReadApplicationMessages" asp-Controller="ApplicationMessages" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.ApplicationReviewId)
            <govuk-button class="govuk-button--secondary govuk-!-margin-top-2" type="submit">Mark all messages as read</govuk-button>
        </form>

        <!-- Application Event Timeline  -->
        @{
            var timelineModel = new TimelineViewModel
            {
                Items = Model.TimelineMessages
            };

            <div>
                @await Html.PartialAsync("_TimelinePartial", timelineModel)
            </div>
        }


    </div>

    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("_RelatedLinks", Model.RelatedLinks)
    </div>
</div>