@using SFA.DAS.AODP.Web.Helpers.ApplicationPageViewHelpers
@using SFA.DAS.AODP.Web.Models.Application
@model ApplicationFormPreviewViewModel

@{
    ViewData["Title"] = "Application Form Preview";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <govuk-back-link class="govuk-link govuk-task-list__link"
                         asp-action="ViewApplication"
                         asp-controller="Applications"
                         asp-route-formVersionId="@Model.FormVersionId"
                         asp-route-organisationId="@Model.OrganisationId"
                         asp-route-applicationId="@Model.ApplicationId">Back to view application</govuk-back-link>

        <partial name="~/Views/Shared/_NotificationPartial.cshtml" />

        <h1 class="govuk-heading-l">Form Preview</h1>

        <h2 class="govuk-heading-m">@Model.FormTitle</h2>

        @{
            // TODO: form details here
        }

        <a class="govuk-button govuk-button--secondary"
                         asp-action="ViewApplication"
                         asp-controller="Applications"
                         asp-route-formVersionId="@Model.FormVersionId"
                         asp-route-organisationId="@Model.OrganisationId"
                         asp-route-applicationId="@Model.ApplicationId">Back to view application</a>
    </div>
</div>
