@using SFA.DAS.AODP.Web.Areas.Review.Models.Home
@using SFA.DAS.AODP.Web.Authentication
@using static SFA.DAS.AODP.Web.Areas.Review.Models.Home.ReviewHomeViewModel
@model ReviewHomeViewModel
@{

    ViewData["Title"] = "Review";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="guide-contents">
                <div class="govuk-grid-row">
                    <h1 class="govuk-heading-xl">
                        What do you want to do?
                        <span class="govuk-caption-l">Choose from the options what you would like to do.</span>
                    </h1>
                </div>

                <div class="govuk-grid-row">
                    <form asp-action="Index" asp-controller="Home" asp-area="Review">

                        <govuk-radios asp-for="SelectedOption">

                            @if (Model.UserRoles.Contains(RoleConstants.QFAUReviewer) || Model.UserRoles.Contains(RoleConstants.QFAUApprover))
                            {
                                <govuk-radios-item value="@Options.ApplicationsReview">
                                    Review funding requests
                                    <govuk-radios-item-hint>Review funding applications submitted by AOs</govuk-radios-item-hint>
                                </govuk-radios-item>

                                <govuk-radios-item value="@Options.NewQualifications">
                                    Review newly regulated qualifications
                                    <govuk-radios-item-hint>Review newly regulated qualifications for this cycle.</govuk-radios-item-hint>
                                </govuk-radios-item>

                                <govuk-radios-item value="@Options.ChangedQualifications">
                                    Review regulated qualifications with changes
                                    <govuk-radios-item-hint>Review regulated qualifications with changes for this cycle.</govuk-radios-item-hint>
                                </govuk-radios-item>
                            }

                            @if (Model.UserRoles.Contains(RoleConstants.QFAUImport))
                            {
                                <govuk-radios-item value="@Options.ImportData">
                                    Import data
                                    <govuk-radios-item-hint>Import data from funded qualifications or regulated qualifications.</govuk-radios-item-hint>
                                </govuk-radios-item>
                            }

                            @if (Model.UserRoles.Contains(RoleConstants.QFAUFormBuilder))
                            {
                                <govuk-radios-item value="@Options.FormsManagement">
                                    Create a submission form
                                    <govuk-radios-item-hint>Create a form for AOs to submit their applications for qualification funding.</govuk-radios-item-hint>
                                </govuk-radios-item>
                            }

                           @*  @if (Model.UserRoles.Contains(RoleConstants.QFAUImport))
                            {
                                <govuk-radios-item value="@Options.OutputFile">
                                    Create an output file
                                    <govuk-radios-item-hint>Create an output file to store all funding decisions made</govuk-radios-item-hint>
                                </govuk-radios-item>
                            } *@
                        </govuk-radios>

                        <govuk-button type="submit">Continue</govuk-button>

                    </form>

                </div>

            </div>
        </div>
    </main>
</div>