@using SFA.DAS.AODP.Web.Areas.Review.Models.ApplicationsReview.FundingApproval
@using SFA.DAS.AODP.Web.Models.Qualifications.Fundings
@model QualificationFundingsOffersOutcomeViewModel;

@{
    ViewData["Title"] = "Funding review";
}

<form asp-controller="New" asp-action="QualificationFundingOffersOutcome" method="post">
    @Html.HiddenFor(m => m.QualificationVersionId)
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <h1 class="govuk-heading-xl">
                    DfE funding review
                    <span class="govuk-caption-l">Request for funding</span>
                </h1>

                <div class="govuk-form-group">
                    <govuk-radios asp-for="@Model.Approved">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s">
                                What is the overall outcome for funding this qualification?
                            </govuk-radios-fieldset-legend>

                            <govuk-radios-hint>
                                All relevant criteria have now been applied.
                            </govuk-radios-hint>

                            @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.Approved))

                            <govuk-radios-item value="true" checked="@(Model.NewDecision == false && Model.Approved == true)">Approved - for one or more offers</govuk-radios-item>
                            <govuk-radios-item value="false" checked="@(Model.NewDecision == false && Model.Approved == false)">Rejected</govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                </div>

                <div class="govuk-form-group">
                    <govuk-textarea asp-for="@Model.Comments">
                        <govuk-textarea-label is-page-heading="false" class="govuk-heading-s">Comments</govuk-textarea-label>
                        <govuk-textarea-hint>
                            Leave comments and recommendations regarding the application funding decision. Give as much detail as you can.
                        </govuk-textarea-hint>
                    </govuk-textarea>
                </div>

                <govuk-button type="submit">Save and continue</govuk-button>
            </div>
        </div>
    </div>
</form>