@using System.Globalization
@model SFA.DAS.AODP.Web.Models.Qualifications.NewQualificationDetailsViewModel

@{
    ViewData["Title"] = "Qualification Details";
}
<a class="govuk-back-link"
asp-controller="New"
asp-action="Index">
    Return to qualifications
</a>

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<span class="govuk-caption-xl">
    Newly regulated qualification
</span>
<h1 class="govuk-heading-xl">Qualification Details</h1>

<form asp-controller="New" asp-action="QualificationDetails" method="post">
    @Html.HiddenFor(m => m.Qual.Qan)

    <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-link" href="/Review/New/QualificationDetails?qualificationReference=@Model.Qual.Qan">
                    Details
                </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item">
                <a class="govuk-link" href="/Review/New/QualificationDetails/Timeline?qualificationReference=@Model.Qual.Qan">
                    History
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="details">
            <govuk-summary-list>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Status</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.ProcStatus.Name</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>QAN</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Qual.Qan</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Qualification title</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Qual.QualificationName</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Awarding organisation</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Organisation.NameLegal</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Qualification type</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Type</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Level</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Level</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Sector subject area</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Ssa</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Age Group</govuk-summary-list-row-key>
                    @if (Model.NineteenPlus ?? false)
                    {
                        <govuk-summary-list-row-value>19+</govuk-summary-list-row-value>
                    }
                    else if (Model.EighteenPlus ?? false)
                    {
                        <govuk-summary-list-row-value>18+</govuk-summary-list-row-value>
                    }
                    else if (Model.SixteenToEighteen ?? false)
                    {
                        <govuk-summary-list-row-value>16-18</govuk-summary-list-row-value>
                    }
                    else if (Model.PreSixteen ?? false)
                    {
                        <govuk-summary-list-row-value>Pre 16</govuk-summary-list-row-value>
                    }
                    else
                    {
                        <govuk-summary-list-row-value></govuk-summary-list-row-value>
                    }
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Guided learning hours (GLH)</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Glh</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Total qualification time (TQT)</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.Tqt</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Regulation start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.RegulationStartDate.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Operational start date</govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>@Model.OperationalStartDate.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</govuk-summary-list-row-value>
                </govuk-summary-list-row>
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>Operational end date</govuk-summary-list-row-key>
                    @if (Model.OperationalEndDate.HasValue)
                    {
                        <govuk-summary-list-row-value>@Model.OperationalEndDate.Value.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</govuk-summary-list-row-value>
                    }
                    else
                    {
                        <govuk-summary-list-row-value></govuk-summary-list-row-value>
                    }
                </govuk-summary-list-row>
            </govuk-summary-list>
            <div class="govuk-form-group">
                <govuk-textarea asp-for="@Model.AdditionalActions.Note">
                    <govuk-textarea-label is-page-heading="false" class="govuk-label--s">Comments</govuk-textarea-label>
                    <govuk-textarea-hint>Leave comments and recommendations. Give as much detail as you can. </govuk-textarea-hint>
                </govuk-textarea>
            </div>
            <div class="govuk-form-group">
                <govuk-select asp-for="@Model.AdditionalActions.ProcessStatusId">
                    <govuk-select-label is-page-heading="false" class="govuk-label--s">Status</govuk-select-label>
                    <govuk-select-item value="@null">Choose status</govuk-select-item>
                    @foreach (var item in Model.ProcessStatuses)
                    {
                        <govuk-select-item value="@item.Id">@item.Name</govuk-select-item>
                    }
                </govuk-select>
            </div>
            <button
                    type="submit"
                    class="govuk-button"
                    data-module="govuk-button"
                    data-prevent-double-click="true">
                Save
            </button>
            <div class="govuk-form-group">
                <a class="govuk-button" asp-route-area="Review" asp-controller="QualificationFunding" asp-action="QualificationFundingOffersOutcome" asp-route-qualificationReference="@Model.Qual.Qan">
                    DfE funding review
                </a>
            </div>
        </div>
    </div>
</form>

