@using SFA.DAS.AODP.Web.Areas.Review.Controllers
@using SFA.DAS.AODP.Web.Views.Shared
@model SFA.DAS.AODP.Web.Areas.Review.Models.Rollover.CheckYourAnswersViewModel
@{
    ViewData["Title"] = "Check your answers";
    var backLinkModel = new BackLinkModel
    {
        Action = "SelectAwardingOrganisations",
        Controller = nameof(RolloverController),
        Area = "Review"
    };

    ViewBag.BackLinkModel = backLinkModel;
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Level(s)
        </dt>
        <dd class="govuk-summary-list__value">
            @foreach (var level in @Model.Levels)
            {
                @level.ToString()<br />
            }
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Type(s)
        </dt>
        <dd class="govuk-summary-list__value">
            @foreach (var type in @Model.Types)
            {
                @type.ToString()<br />
            }
        </dd>
    </div>
</dl>