@using SFA.DAS.AODP.Web.Areas.Review.Controllers
@using SFA.DAS.AODP.Web.Views.Shared
@model SFA.DAS.AODP.Web.Areas.Review.Models.Rollover.FundingStreamInclusionExclusionViewModel

@{
    ViewData["Title"] = "Select funding stream(s)";

    var backLinkModel = new BackLinkModel
    {
        Action = nameof(RolloverController.Index),
        Controller = "Rollover",
        Area = "Review"
    };
}


@await Html.PartialAsync("_BackLinkPartial", backLinkModel)

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<form asp-area="Review" asp-controller="Rollover" asp-action="FundingStreamInclusionExclusion" method="post" novalidate="novalidate">

    <!-- Error summary -->
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list govuk-error-message">
                        @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).Distinct())
                        {
                            <li>@err</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    <div class="govuk-hint">
        Select all that apply
    </div>

    <!-- Select all button (server-side) -->
    <button type="submit" name="action" value="selectAll" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
        Select all
    </button>

    <fieldset class="govuk-fieldset govuk-!-margin-bottom-5" aria-describedby="funding-hint">

        <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-top-3">
            @foreach (var fs in Model.FundingStreams)
            {
                var isChecked = Model.SelectedIds != null && Model.SelectedIds.Contains(fs.Id);
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input"
                           type="checkbox"
                           id="funding_@fs.Id"
                           name="SelectedIds"
                           value="@fs.Id"
                           @(isChecked ? "checked" : "") />

                    <label class="govuk-label govuk-checkboxes__label" for="funding_@fs.Id">
                        @fs.Label
                    </label>
                </div>
            }
        </div>

    </fieldset>

    <govuk-button type="submit">Continue</govuk-button>

</form>