@using SFA.DAS.AODP.Web.Areas.Review.Controllers
@using SFA.DAS.AODP.Web.Extensions
@using SFA.DAS.AODP.Web.Views.Shared
@model SFA.DAS.AODP.Web.Areas.Review.Models.Rollover.FundingStreamInclusionExclusionViewModel

@{
    ViewData["Title"] = "Select funding stream(s)";

    var backLinkModel = new BackLinkModel
    {
        Action = nameof(RolloverController.UploadQualificationCandidates),
        Controller = "Rollover",
        Area = "Review"
    };

    var hasFundingStreamsError = ViewData.ModelState.ContainsKey("FundingStreams");
    var fundingStreamsError = hasFundingStreamsError
        ? ViewData.ModelState["FundingStreams"].Errors.First().ErrorMessage
        : null;

    var hasSelectedIdsError = ViewData.ModelState.ContainsKey("SelectedIds");
    var selectedIdsError = hasSelectedIdsError
        ? ViewData.ModelState["SelectedIds"].Errors.First().ErrorMessage
        : null;

    var firstId = Model.FundingStreams.FirstOrDefault()?.Id;
    var firstCheckboxId = firstId is not null
        ? $"funding_{firstId}"
        : null;
}


@await Html.PartialAsync("_BackLinkPartial", backLinkModel)

<partial name="~/Views/Shared/_NotificationPartial.cshtml" />

@if (hasFundingStreamsError)
{
    <div class="govuk-error-summary"
         role="alert"
         data-module="govuk-error-summary"
         tabindex="-1">
        <h2 class="govuk-error-summary__title">There is a problem</h2>

        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="">@fundingStreamsError</a>
                </li>
            </ul>
        </div>
    </div>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
}
else
{
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary"
             role="alert"
             data-module="govuk-error-summary"
             tabindex="-1">
            <h2 class="govuk-error-summary__title">There is a problem</h2>

            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @if (hasSelectedIdsError)
                    {
                        <li>
                            <a href="#@firstCheckboxId">@selectedIdsError</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <form asp-area="Review" asp-controller="Rollover" asp-action="FundingStreamInclusionExclusion" method="post" novalidate="novalidate">

        <div class="govuk-form-group @(hasSelectedIdsError ? "govuk-form-group--error" : "")">

            <fieldset class="govuk-fieldset" aria-describedby="funding-hint @(hasSelectedIdsError ? "funding-error" : "")">

                <div id="funding-hint" class="govuk-hint">
                    Select all that apply
                </div>

                <button type="submit" name="action" value="selectAll" class="govuk-button govuk-button--secondary">
                    Select all
                </button>

                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    @foreach (var fs in Model.FundingStreams)
                    {
                        var checkboxId = $"funding_{fs.Id}";
                        var isChecked = Model.SelectedIds?.Contains(fs.Id) == true;

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input"
                                   type="checkbox"
                                   id="@checkboxId"
                                   name="SelectedIds"
                                   value="@fs.Id"
                                   @(isChecked ? "checked" : "") />

                            <label class="govuk-label govuk-checkboxes__label"
                                   for="@checkboxId">@fs.Name</label>
                        </div>
                    }
                </div>

            </fieldset>
        </div>

        <govuk-button type="submit">Continue</govuk-button>

    </form>
}