@using SFA.DAS.AODP.Web.Models.Survey
@model SurveyViewModel
@{
    ViewData["Title"] = "Give feedback on this service";
}

<h1 class="govuk-heading-l">Give feedback on this service</h1>

<h2 class="govuk-heading-m">Satisfaction survey</h2>
<partial name="_ValidationSummaryPartial" />

<form asp-action="SurveyFeedback" asp-controller="Survey" method="post" gfa-prepend-error-summary="false">
    @Html.AntiForgeryToken()
    <div class="govuk-form-group @(ViewData.ModelState["SatisfactionScore"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
        <govuk-radios asp-for="SatisfactionScore">
            <govuk-radios-fieldset>
                <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--s">
                    Overall, how did you feel about the service you received today?
                </govuk-radios-fieldset-legend>
                @Html.RenderPartialAsync("Validation/_RadioValidationPartial", nameof(Model.SatisfactionScore))
                <govuk-radios-item value="@(SatisfactionScoreIndex.VerySatisfied)">
                    Very satisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.Satisfied)">
                    Satisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.NeitherSatisfiedOrDissatisfied)">
                    Neither satisfied or dissatisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.Dissatisfied)">
                    Dissatisfied
                </govuk-radios-item>
                <govuk-radios-item value="@(SatisfactionScoreIndex.VeryDissatisfied)">
                    Very dissatisfied
                </govuk-radios-item>
            </govuk-radios-fieldset>
        </govuk-radios>
    </div>
    <div class="govuk-form-group @(ViewData.ModelState["Comments"]?.Errors.Count > 0 ? "govuk-form-group--error" : "") govuk-character-count" data-module="govuk-character-count" data-maxlength="1200">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="Comments">
                How could we improve this service?
            </label>
        </h1>
        <div id="Comments-hint" class="govuk-hint">
            Do not include any personal or financial information, for example your National Insurance or credit card numbers.
        </div>
        @Html.ValidationMessageFor(m => m.Comments, "", new { @class = "govuk-error-message" })
        <textarea asp-for="Comments" class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["Comments"]?.Errors.Count > 0 ? "govuk-textarea--error" : "")" id="Comments" rows="5" aria-describedby="Comments-info Comments-hint"></textarea>
        <div id="Comments-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1200 characters
        </div>
    </div>
    <button class="govuk-button" data-module="govuk-button">
        Send feedback
    </button>
</form>
